.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  display: flex;
  flex: 0.5;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: grey;
  border-radius: 30px;
}

.header__left > input {
  border: none;
  widows: 100%;
}

.header__right {
  display: flex;
  align-items: center;
  background: #191414;
  border-radius: 30px;
  padding: 5px;
}

.header__right > h4 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
